@{
    ViewBag.Title = "GoogleGlass";
}

<div style="background-color:white">
    <div class="jumbotron" style="background-color:rgb(240,240,240); margin:1em; padding:1em;">
        <center>
            <a href="https://developers.google.com/glass/"><img class="img-responsive" width="55%" src="~/Content/Images/Glass.jpg" /></a>
        </center>
    </div>

    <div style="text-align:center" dir="ltr">
        <div class="embed-responsive">
            <iframe class="embed-responsive-item" width="720" height="380" src="https://www.youtube.com/embed/v1uyQZNg2vE"></iframe>
        </div>
    </div>

    <div class="jumbotron" style="background-color:white; color:rgba(0, 0, 0, 0.79);" dir="ltr">
        <p class="body-content panel-body">
            Google Glass is a type of wearable technology with an optical head-mounted display (OHMD).
            It was developed by Google with the mission of producing a mass-market ubiquitous computer.
            Google Glass displays information in a smartphone-like hands-free format.
            Wearers communicate with the Internet via natural language voice commands.
            Google started selling a prototype of Google Glass to qualified "Glass Explorers" in the US on April 15, 2013,
            for a limited period for $1,500, before it became available to the public on May 15, 2014, for the same price.
        </p>
    </div>
</div>