@{
    ViewBag.Title = "InfinityAR";
}

<div style="background-color:white">
    <center>
        <div class="jumbotron" style="background-color:rgb(240,240,240); margin:1em; padding:1em">
            <a href="http://www.infinityar.com/"><img class="img-responsive" width="70%" src="~/Content/Images/InfinityAR.png" /></a>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="col-sm-push-4 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fJI8tNG1rbQ"></iframe>
                </div>
            </div>
        </div>
    </center>
    <div class="jumbotron" style="background-color:white; color:rgba(0, 0, 0, 0.79);" dir="ltr">
        <p class="body-content panel-body">
            InfinityAR's technology can turn any device into a powerful content augmentation platform, using basic and affordable hardware -
            simple stereoscopic cameras. Our advanced AR development engine enables accurate 3D scene digital representation of one's
            current pysical enviroment. This allows users to intuitiviley interact with augmented content in their pysical surroundings,
            using natural hand movements.
        </p>
    </div>
</div>