@{
    ViewBag.Title = "About";
}

<div>
    <div class="jumbotron" style="padding:1em; margin:1em">
        <h1>About me</h1>
        <p>
            My name is Ben Brandes. Currently on 12th Grade. <br />
            Learning Robotics, Computer Science and Physics. <br />
        </p>

        <h2>&copy; Credits</h2>
        <p>
            Hosting Service - <a href="https://www.gearhost.com/">GearHost</a> <br />
            CSS Design - <a href="http://getbootstrap.com/">Bootstrap</a> <br />
            Code Management - <a href="https://github.com/">GitHub</a> <br />
            Development Enviroment - <a href="https://www.visualstudio.com/">Visual Studio</a> <br />
        </p>
    </div>
</div>