@{
    ViewBag.Title = "HoloLens";
}

<div style="background-color:white">

    <div class="jumbotron" style="background-color:rgb(240,240,240); margin:1em; padding:1em">
        <center>
            <a href="https://www.microsoft.com/microsoft-hololens/en-us"><img class="img-responsive" width="70%" src="~/Content/Images/HoloLens.png" /></a>
        </center>
    </div>

    <div style="text-align:center" dir="ltr">
        <div class="embed-responsive">
            <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube-nocookie.com/embed/flhxUyMLcbA?rel=0" frameborder="0" ></iframe>
        </div>
    </div>

    <div class="jumbotron" style="background-color:white; color:rgba(0, 0, 0, 0.79);" dir="ltr">
        <p class="body-content panel-body">
            Microsoft HoloLens is the first fully untethered, see-through holographic computer. <br />
            It enables high-definition holograms to come to life in your world, seamlessly integrating with your physical places, spaces, and things. <br />
            We call this experience mixed reality. <br />
            Holograms mixed with your real world will unlock all-new ways to create, communicate, work, and play.
        </p>
    </div>
</div>