@{
    ViewBag.Title = "Metaio";
}

<div style="background-color:white">

    <div class="jumbotron" style="background-color:rgb(240,240,240); margin:1em; padding:1em">
        <center>
            <a href="http://www.metaio.com/"><img class="img-responsive" width="50%" src="~/Content/Images/metaio.png" /></a>
        </center>
    </div>

    <div style="text-align:center" dir="ltr">
        <div class="embed-responsive">
            <iframe class="embed-responsive-item" width="720" height="380" src="https://www.youtube.com/embed/DUFdNbPUcac" frameborder="0"></iframe>
        </div>
    </div>

    <div class="jumbotron" style="background-color:white; color:rgba(0, 0, 0, 0.79);" dir="ltr">
        <p class="body-content panel-body">
            Metaio is the worldwide leader in Augmented Reality software, research and technology.
            With over 12 years of experience in Augmented Reality and Computer Vision,
            Metaio serves over 140,000 developers with over 50,000 published apps.
            In total, Metaio's ‘AR’ software reaches over 250 Million consumers around the world.
        </p>
    </div>
</div>
