@{
    ViewBag.Title = "Home Page";
}

<div dir="ltr">
    <div class="jumbotron" style="background-color:rgba(18, 18, 18, 0.79); color:#e8e8e8; padding: 1em" dir="ltr">
        <h1>Augmented Reality</h1>
        <p>Augmented Reality is a type of virtual reality that aims to duplicate the world's environment in a computer.</p>
    </div>

    <div style="text-align:center" dir="ltr">
        <div class="embed-responsive">
            <iframe class="embed-responsive-item" width="720" height="380" src="https://www.youtube.com/embed/kdxEBIGX1dQ"></iframe>
        </div>
    </div>

    <div class="jumbotron" style="background-color:white; color:rgba(0, 0, 0, 0.79);" dir="ltr">
        <p class="body-content panel-body">
            Augmented Reality (AR) is a technological concept that enables users to experience the world around them as is,
            but with additional layers of digital content on top (such as images, sound, video and text).
            AR enhances and improves ones’ day to day life experiences as it presents not just any information that’s available,
            but the information that’s relevant to one’s specific situation.
        </p>
    </div>

    <div class="row jumbotron" style="padding: 1em; margin: 1em; background-color: rgba(18, 18, 18, 0.79); color: #d7d6d6">
        <div class="col-md-6">
            <h2>Register</h2>
            <p>
                Register Now and you will have access to all of our content!
            </p>
            <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-6">
            <h2>Shop Now!</h2>
            <p>Enter our shop to watch all the awesome products.</p>
            <p>@Html.ActionLink("Shop Now!", "Shop", "Glasses", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
</div>