
@{
    ViewBag.Title = "SendOrder";
}

<div class="jumbotron" style="margin-top: 5%">
    <h1 style="color:rgba(0, 0, 0, 0.80)"> Order Successfull   <span class="glyphicon glyphicon-thumbs-up"></span></h1>
</div>


